.movies {
  justify-content: center;
  padding: 20px;
}

.movie__image {
  height: 450px;
}

@media screen and (max-width: 720px) {
  .movie__image {
    height: 350px;
  }
}


@media screen and (max-width: 480px) {
  .movie__image {
    height: 200px;
  }
}