.movies {
  justify-content: center;
  padding: 20px;
}

.movie {
  border-bottom: 3px solid #d11b59;

  &__image {
    height: 450px;
    overflow: hidden;
  }
}

@media screen and (max-width: 720px) {
  .movie__image {
    height: 350px;
  }
}


@media screen and (max-width: 480px) {
  .movie__image {
    height: 250px;
  }
}